<div class="container">

  <h3 class="d-flex justify-content-center">Angular 10, ASP.net web API, SQL Server</h3>
  <h5 class="d-flex justify-content-center">Employee managment portal</h5>

  <nav class="navbar navbar-light bg-light">
    <form class="container-fluid justify-content-start">
      <button class="btn btn-outline-primary me-2" type="button" routerLink="employee">Employee</button>
      <button class="btn btn-outline-primary" type="button" routerLink="department">Department</button>
    </form>
  </nav>

  <router-outlet></router-outlet>
</div>